entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"

providers:
  file:
    directory: "{{ traefik_dynamic_dir }}"
    watch: true

log:
  level: "{{ traefik_log_level }}"
  filePath: "{{ traefik_log_dir }}/traefik.log"

accessLog:
  filePath: "{{ traefik_log_dir }}/access.log"

api:
  dashboard: {{ traefik_enable_dashboard | bool | lower }}
  insecure: false
